.errors {
    color: red;
}

a {
    color: #0d4fb0;
    text-decoration: none;
}

body {
    background: #ffffff !important;
    height: 100vh !important;
    width: 100% !important;
}

body.swal2-height-auto {
    height: 100vh !important;
}

#root {
    width: 100% !important;
    height: 100%;
}

.lent {
    color: blue;
}

.owed {
    color: red;
}

.snaps {
    color: green;
}

.form-switch {
    zoom: 1.5;
}

.main {
    overflow: auto;
    width: 100%;
}

.paypal-link, .razorpay-link, .stripe-link {
    cursor: pointer;
}

.white-anchor-tag a {
    color: white;
}

.white-anchor-tag a:hover {
    color: white;
}
.container-home-page {
    position: relative;
    top: 50%;
    left: 51%;
    right: 29%;

    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}
